body {
  background-image: url(images/backgroundimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  width: 327px;
  height: 192px;

  /* Theme 2 / Subhead 1 */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: space-around;
}

.greetingsandsocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 726px;
  left: none;
  top: 92px;
}

.intro1 {
  width: 327px;
  height: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.intro2 {
  width: 327px;
  height: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.intromessage {
  width: 327px;
  height: 164px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-container {
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
}

.ri-twitter-fill {
  position: absolute;
  width: 19.99px;
  height: 20px;
  left: 36.31%;
  right: 51.36%;
  top: 68.83%;
  bottom: 23.42%;
  color: #505f79;
}

.ri-linkedin-box-fill {
  position: absolute;
  width: 20x;
  height: 20px;
  left: 43.31%;
  right: 52.96%;
  top: 68.83%;
  bottom: 23.42%;
  color: #505f79;
}

.ri-medium-fill {
  position: absolute;
  width: 17.99px;
  height: 20px;
  left: 50.38%;
  right: 48.29%;
  top: 68.83%;
  bottom: 23.69%;
  color: #505f79;
}

.ri-github-fill {
  position: absolute;
  width: 17.99px;
  height: 20px;
  left: 57.04%;
  right: 40.16%;
  top: 68.83%;
  bottom: 23.42%;
  color: #505f79;
}

.ri-thumb-up-line {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 63.91%;
  right: 34.31%;
  top: 68.83%;
  bottom: 23.42%;
  color: #505f79;
}
