body {
  background: #E5E5E5;
}

.welcome-message {
  /* Welcome */
  min-width: 100vh;
  height: 92px;
  left: 0px;
  top: 0px;

  /* Theme 2 / Subhead 1 */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;

  /* Theme 2 / Neutral 1 */

  color: #28352f;

  /* Inside auto layout */
  order: 0;
  flex-grow: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

  .Greetings-container {
  /* Primary */

  /* Theme 2 / H2 */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  text-align: center;

  /* Inside auto layout */
  display: flex;
  flex-direction: column;
  order: 0;
  align-items: center;  
  flex-grow: 0;
}

#intro1 {
  color: blue;
  width: 327px;
  height: 50px;
}

#intro2 {
  color: green;
  width: 327px;
  height: 100px;
}

.intromessage {
  /* Supporting Text */

  /* Theme 2 / Body Reguler 1 */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* or 140% */
  text-align: center;

  /* Neutrals/N800 */
  color: #172b4d;

  /* Inside auto layout */
  flex: none;
  width: 327px;
  height: 164px;
  justify-content: center;  
  flex-grow: 0;
}

.social-container {
  min-width: 100vh;  
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  padding-right: 5%;
}

body {
  background-image: url("Images/backgroundimage.png");
  background-size: contain;
}